# Ignore Xcode user data
*.xcuserdata
*.xcworkspace

# Ignore macOS system files
.DS_Store

# Ignore build products
build/
DerivedData/

# Ignore Scheme Management
xcshareddata/xcschemes/xcschememanagement.plist
